/* Large Screens (desktops/laptops) - screen width is between 1201px and 1800px */

@media screen and (min-width: 601px) and (max-width: 1800px) {

:root {
  /* color variables */
  --df-main:#9a89bf;
  --df-lightpurple: #cdb5ff;
  --df-text: darkslategray;
  --df-text-light: lightslategray;
}

/* RESET */

body {
  margin: 0;
  padding: .1em .75em;
  background-color: rgb(236, 230, 236);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: .9em;
}
a, ul, ol, blockquote, h1, h2, h3, h4, header, footer {
  margin-block: 0;
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a{
  text-decoration: none;
  color: black;
}


/* ************************************** */

/* PAGE FLEX WRAPPER */

.wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}



/* NAV */

.header-container {
  flex: 1 1 100%;
  display: flex;
  justify-content:space-between;
}
  .logo-header {
    padding-top: 3px;
    height: 2em;
  }

  .nav-container {
    display: flex;
    height: 2.5em;
  }
    .nav-li {
      text-align: center;
      align-self: center;
      padding-left: 15px;
      padding-right: 15px;
      color:var(--df-main);
    }

    .nli-1, .nli-2, .nli-3, .nli-4, .nli-5 {
      border-right: 2px solid ivory;
    }
      a:hover {
        color: ivory;
        background-color:var(--df-main);
        border-radius: 5px;
        /* border: 1px solid var(--df-main); */
        cursor: pointer;
      }

  .icon {
    display: none;
    text-align: center;
    align-self: center;
    padding-left: 15px;
    padding-right: 15px;
  }



/* FEATURED */

/* flex wrapper */
.featured-wrapper {
  flex: 1 1 80%;
  display: flex;
  width: 100%;
}
  /* flex container */
  .featured-container {
    display: flex;
    width: 100%;
    /* height: 80vh; */
  }
    .featured-1 {
      flex: 1 1 50%;
      padding: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: whitesmoke;
    }

    .featured-2 {
      flex: 1 1 50%;
      padding: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color:lightgrey;
    }



/* FOOTER */

footer {
  flex: 1 1 10%;
  color:var(--df-text);
  display: flex;
  padding: 5px;
  background-color:var(--df-lightpurple);
}
  .quote-footer {
    font-size: 1.2em;
    font-style: italic;
    flex: 1 1 75%;
    padding: 5px;
  }

  .cta-footer {
    flex: 1 1 25%;
    display: flex;
    flex-wrap: wrap;
  }
    .text-footer {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
      .cta-span {
        font-size: 1.1em;
        font-weight: bold;
      }

    .a-footer {
      flex: 1; 
      display: flex;
      justify-content: center;
      align-items: center;
    }
      .subscribe-footer {
      font-weight: bold;
      }

    .a-footer a {
      color:var(--df-text-light);
      background-color:yellow;
      border-radius: 5px;
      border: 5px solid yellow;
      cursor: pointer;
    }

    .a-footer a:hover {
      color:var(--df-main);
      background-color:ivory;
      border-radius: 5px;
      border: 5px solid ivory;
      cursor: pointer;
      transform: scale(1.25);
    }
  }