/* ********** Mobile First ********** */

:root {
  /* color variables */
  --df-main:#9a89bf;
  --df-lightpurple: #cdb5ff;
  --df-text: darkslategray;
  --df-text-light: lightslategray;
}

/*
RESET
*/
body {
  margin: 0;
  padding: .1em .75em;
  background-color: rgb(236, 230, 236);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: .9em;
}
a, ul, ol, blockquote, h1, h2, h3, h4, header, footer, section {
  margin-block: 0;
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a{
  text-decoration: none;
  color: black;
}

/*
PAGE FLEX WRAPPER
*/
.site-wrapper {
  display: flex;
  flex-direction: column;
  height: 90vh;
}

/*
HEADER
*/
.header-container {
  flex: 1 1 100%;
  display: flex;
  justify-content:space-between;
  height: auto;
  margin-top: 10px;
  margin-bottom: 15px;
}
  .header-logo-weight {
    align-self: center;
    height: 2em;
  }

  .header-logo-text-container {
    flex:1;
  }

  .header-logo-text {
    font-size: 2em;
    /* font-weight: bold; */
    color: var(--df-main);
    text-align: center;
  }

  .nav-container {
    display: none;
    height: 2.5em;
  }
    .nav-li {
      text-align: center;
      align-self: center;
      padding-left: 15px;
      padding-right: 15px;
      color:var(--df-main);
    }

    .nli-1, .nli-2, .nli-3, .nli-4, .nli-5 {
      border-right: 2px solid ivory;
    }
      a:hover {
        color: ivory;
        background-color:var(--df-main);
        border-radius: 5px;
        /* border: 1px solid var(--df-main); */
        cursor: pointer;
      }

  .burger-anchor {
    display: flex;
    text-align: center;
    align-self: center;
    padding-left: 15px;
    padding-right: 5px;
  }

  i.fa-bars {
    display: flex;
    font-size: 1.4em;
  }



/*
FEATURED
*/
.main-wrapper { /* flex wrapper */
  flex: 1 1 80%;
  display: flex;
  flex-direction: column;
  width: 100%;
}
  i.fa-times {
    display: flex;
    justify-content: flex-end;
    font-size: 1.25em;
    color:whitesmoke;
    background-color: var(--df-main);
    padding: 5px 13px 5px 0px;
  }

  .open-nav {
    display: none;
    flex: 1 1 50%;
    flex-flow: column wrap;
    align-self: flex-end;
    width: fit-content;
    height: fit-content;
    background-color: whitesmoke;
    border-radius: 3px;
    margin-top: -49px;
    margin-bottom: 25px;
  }

  .open-nav h2 {
    padding: 5px 10px 5px 10px;
    color: var(--df-main);
    font-size: 1.5em;
  }

  .featured-container { /* flex container */
    display: flex;
    flex-direction: column;
    width: 100%;
  }
    .featured-1 {
      flex: 1 1 100%;
      padding: 25px 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: rgba(125, 125, 125, .1);
    }

    .featured-1 h3 {
      font-size: 1.75em;
      padding-bottom: 15px;
    }

    .featured-1 h4 {
      padding-bottom: 15px;
      font-size: 1.5em;
      /* font-style: italic; */
      color:rebeccapurple;
    }


    .blog {
      background-color: rgba(255, 255, 255, .5);
      background-image: url(assets/DesiFitLogo2019-01.png);
      background-size:15%;
      background-blend-mode:overlay;
      flex: 1 1 auto;
      font-size: 2.5em;
      font-style: italic;
      text-align: center;
      min-height: 5em;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
    }

    .date-line {
      font-size: .5em;
    font-style: normal;
    padding-top: 5px;
    }

    .featured-2 {
      flex: 1 1 100%;
      display: flex;
      flex-flow: column wrap;
      align-items: center;
    }

      section > a {
        color:rebeccapurple;
        background-color:rgb(165, 165, 165);
        border-radius: 5px;
        border: 5px solid rgb(165, 165, 165);
        cursor: pointer;
      }

      section > a:hover {
        color:var(--df-main);
        background-color:ivory;
        border-radius: 5px;
        border: 5px solid ivory;
        cursor: pointer;
        transform: scale(1.25);
      }

      h3.clients {
        font-size: 2.5em;
        font-weight: bold;
        padding-top: 25px;
        margin-bottom: 15px;
        text-align: center;
      }
    
      .featured-2 img {
        width: 75%;
        border-left: 10px solid whitesmoke;
        border-right: 10px solid whitesmoke;
      }
    
      .img-1 {
        border-top: 10px solid whitesmoke;
        border-bottom: 5px solid whitesmoke;
      }
    
      .img-2 {
        border-top: 5px solid whitesmoke;
        border-bottom: 5px solid whitesmoke;
      }
    
      .img-3 {
        border-top: 5px solid whitesmoke;
        border-bottom: 10px solid whitesmoke;
      }

      .events {
        display: flex;
        width: 100%;
        margin-top: 25px;
        margin-bottom: 25px;
        background-color: #fff;
      }

      .events img {
        flex: 1 1 100%;
        border:0;
      }


/*
FOOTER
*/
footer {
  flex: 1 1 10%;
  color:var(--df-text);
  display: flex;
  flex-wrap: wrap;
  padding: 10px 5px 5px 5px;
  background-color:var(--df-lightpurple);
}
  blockquote.quote-footer {
    background-color:rgba(255,255,255,.5);
    border-radius: 5px;
    font-size: .9em;
    font-style: italic;
    flex: 1 1 100%;
    padding: 3px 10px;
  }

  .cta-footer {
    flex: 1 1 25%;
    display: flex;
    flex-wrap: wrap;
    padding-top: .9em;
  }
    .text-footer {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
      .cta-span {
        font-size: 1.1em;
        font-weight: bold;
      }

    .a-footer {
      flex: 1; 
      display: flex;
      justify-content: center;
      align-items: center;
    }
      .subscribe-footer {
      font-weight: bold;
      }

    .a-footer a {
      color:var(--df-text-light);
      background-color:yellow;
      border-radius: 5px;
      border: 5px solid yellow;
      cursor: pointer;
    }

    .a-footer a:hover {
      color:var(--df-main);
      background-color:ivory;
      border-radius: 5px;
      border: 5px solid ivory;
      cursor: pointer;
      transform: scale(1.25);
    }