/* Extra-Small Screens (smart phones) - screen width is 600px or less */

@media screen and (max-width: 600px) {

  .wrapper {
    height:fit-content;
  }

  /* hide nav menu */
  .nav-container {
    display: none;
  }

  /* shows hamburger icon link */
  .icon {
    display: flex;
  }

   .header-container {
      height: fit-content;
      margin-bottom: 5px;
  } 

  /* change from 2 columns to 1 */
  .featured-container {
    flex-direction: column;
  }

  /* reduce featured height to fit content */
  section.featured-1, section.featured-2 {
    /* height: fit-content; */
    flex: 1 1 100%;
    /* display: block; */
  }

  footer {
    flex-wrap: wrap;
    padding-top: 10px;
  }

  blockquote.quote-footer {
    flex-basis: 100%;
    background-color:rgba(255,255,255,.5);
    border-radius: 5px;
    font-size: .9em;
  }

  .cta-footer {
    padding-top: .9em;
  }

}
