/* Extra-Small Screens (smart phones) - screen width is 600px or less */

@media screen and (max-width: 600px) {

  .wrapper {
    height:fit-content;
  }

  /* hide nav menu */
  .nav-container {
    display: none;
  }

  /* shows hamburger icon link */
  .icon {
    display: flex;
  }

   .header-container {
      height: fit-content;
      margin-bottom: 5px;
  } 

  /* change from 2 columns to 1 */
  .featured-container {
    flex-direction: column;
  }

  /* reduce featured height to fit content */
  section.featured-1, section.featured-2 {
    /* height: fit-content; */
    flex: 1 1 100%;
    
    /* display: block; */
  }

  .featured-2 img {
    width: 75%;
    border-left: 10px solid whitesmoke;
    border-right: 10px solid whitesmoke;
  }

  .img-1 {
    border-top: 10px solid whitesmoke;
    border-bottom: 5px solid whitesmoke;
  }

  .img-2 {
    border-top: 5px solid whitesmoke;
    border-bottom: 5px solid whitesmoke;
  }

  .img-3 {
    border-top: 5px solid whitesmoke;
    border-bottom: 10px solid whitesmoke;
  }

  .featured-2 h3 {
    padding-bottom: 10px;
  }
  
  footer {
    flex-wrap: wrap;
    padding-top: 10px;
  }

  blockquote.quote-footer {
    flex-basis: 100%;
    background-color:rgba(255,255,255,.5);
    border-radius: 5px;
    font-size: .9em;
  }

  .cta-footer {
    padding-top: .9em;
  }

}
